nav {
    background-color: darkcyan;
    padding: 10px;
    position: fixed;
    width: 100%;
}
   
body{
    background-color:brown;
    margin: 0;
    padding: 0;
}

nav a {
    text-decoration: none;
    padding: 10px;
}

a:visited,a:link{
    color: white;
}
